<div fxLayout="row" fxLayoutAlign="center">
    <mat-card pipFocused>
        <mat-card-header>
            <mat-card-title fxLayoutAlign="center" style="padding: 8px;">Focused pictures</mat-card-title>
            <mat-card-subtitle>
                <p> Press
                    <span class="button">Tab</span> to choose list and
                    <span class="button">up</span>,
                    <span class="button">down</span>,
                    <span class="button">left</span>,
                    <span class="button">right</span> buttons to change focusable elements in list.
                </p>
            </mat-card-subtitle>
        </mat-card-header>

        <div class="row" fxLayoutAlign="center">
            <h5>Example 1:</h5>
            <mat-list class="pip-menu pip-ref-list" style="padding: 0px">

                <div class="col" *ngFor="let src of sources" style="padding: 5px">
                    <mat-list-item style="height: 80px;" class=" pip-focusable " tabindex="-1 ">
                        <pip-picture resize="false" class="square-l rounded" backgroundColor="#2196F3" src={{src}}></pip-picture>
                    </mat-list-item>
                </div>
            </mat-list>
            <h5>Example 2:</h5>
            <mat-list class="pip-menu pip-ref-list" style="padding: 0px">
                <div class="col" *ngFor="let src of sources" style="padding: 5px">
                    <mat-list-item style="height: 120px;" class=" pip-focusable " tabindex="-1 ">
                        <pip-picture resize="false" class="square-xl rounded" backgroundColor="#DCE775" src={{src}}></pip-picture>
                    </mat-list-item>
                </div>
            </mat-list>

        </div>
    </mat-card>
</div>
<!-- #TODO add delete elements by key "enter" -->