<div class="container collage-block">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Collage</mat-card-title>
            <mat-card-subtitle>Generated collages</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                <pip-collage [(srcs)]="source.sources"></pip-collage>
            </p>
        </mat-card-content>
    </mat-card>
</div>